.navbar {
  display: flex;
  align-items: center;
  padding: 0 50px;
  width: 90%;
  height: 60px;
  z-index: 9999;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.nav-logo {
  display: none;
}

.nav-mobile-logo {
  display: none;
}

.nav-menu {
  justify-content: end;
  gap: 4rem;
  width: 100%;
}

.nav-links {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 300;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar {
    z-index: 99;
    width: 100%;
  }

  .nav-mobile-logo {
    display: block;
    position: absolute;
    top: 10px;
    right: 50px;
    color: #fff;
    font-style: italic;
  }

  .nav-menu {
    flex-direction: column;
    justify-content: flex-start;
    background: #222;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: -2000%;
    left: 0;
    align-items: stretch;
    padding: 80px 0 30px 30px;
    gap: 0;
    margin: 0;
    transition: all 0.9s ease-in-out;
  }

  .nav-menu.active {
    top: 0;
    opacity: 1;
    z-index: -1;
    transition: all 0.9s ease-in-out;
  }

  .nav-links {
    display: block;
    width: 100%;
    font-size: 1.2rem;
    padding: 2rem 0;
    color: #fff;
  }

  .menu-icon {
    font-size: 1.5rem;
    font-weight: 400;
    display: block;
    color: #ffffff;
    cursor: pointer;
  }
}
